* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(./imgs/bg-dark.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  height: 100vh;
}
.container {
  width: 90%;
  margin: auto;
  padding-top: 3rem;
}
header{
  font-size: 1.5rem;
  color: rgb(117, 117, 117);
  font-weight: 600;
}
header, form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  /* margin-left: 5rem; */
}
form {
  flex-wrap: wrap;
}
form input {
  padding: 0.7rem;
  font-size: 1.2rem;
  border: none;
  background: #e6e6e6;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
form input:focus{
  outline: none;
}
form button{
  padding: 0.7rem;
  font-size: 1.2rem;
  border: none;
  background: #e6e6e6;
  color: #55af65;
  background: #e6e6e6;
  cursor: pointer;
  transition: all .3s ease;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
form button:hover {
  background-color: #55af65;
  color: #fff;
}
form button:focus {
  outline: none;
}
.todo-container {
  display: flex;
  /* margin-left: 6.4rem; */
  align-items: center;
}
.todo-list {
  min-width:40%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #55af65;
  color: #000;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 10px;
}
.todo-item {
  flex: 1;
  padding: 0rem 0.5rem;
}
.trash-btn , .check-btn{
  background: #55af65;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.check-btn {
background-color:#e6e6e6;
}
button:focus {
  outline: none;
}
.fa-trash , .fa-check {
  pointer-events: none;
}
.fa-check {
  color: #55af65;
}
.checked {
  text-decoration: line-through;
  opacity: 0.8;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: #000;
  width: 12rem;
  cursor: pointer;
  padding: 0.9rem;
  background-color: #e6e6e6; 
  border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
option {
  padding: 1rem;
}
.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
  
}
.select:after {
  content: "\25bc";
  position: absolute;
  background-color: #55af65;
  top: 0px;
  right: 0;
  padding: .9rem;
  pointer-events: none;
  color: #fff;
  transition: all .3 ease;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.select:hover::after {
  background: #fff;
  color: #55af65;
}
@media (max-width:790px) {
  body {
      background-position:right !important;  
  }
  .todo-list {
      width: 90%;
  }
}
@media (max-width:532px) {
  body{
      /* background-image: url(./imgs/Background.jpg); */
      background-position: center;
      background-size: cover;
  }
  .select{
      margin-left: 0rem;
  }
}
@media (max-width:380px) {
  header{
      font-size: 1.2rem;
  }
  form input, form button {
      padding: 0.5rem;
      font-size: 1rem;
  }
  select {
      padding: 0.5rem;
  }
  .select:after {
      padding: .5rem;
  }
  .todo-list {
      margin-top: 1rem;
  }
  .trash-btn, .check-btn {
      
      padding: 0.5rem;
}
}